@import './utils/colors';

body{
  background-color: $blanco2;
  color: $gris;
  font-family: 'Montserrat', sans-serif;
  header{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    background-color: $gris75;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
    box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
  }
  h1{
    padding: 10px 0px;
    margin: 0px;
    color: $verde;
  }
  .content{
    width: 100%;
    display: relative;
    .example{
      margin: 10px auto;
      display: inline-block;
      margin: 10px 15px 10px 30px;
      background-color: $blanco1;
      border: 1px solid $gris25;
      padding: 10px;
    }

  }
}
