/* Coolors Exported Palette - coolors.co/f26060-ededed-eeff9e-7b9ea8-595959 */

$rojo: rgba(242, 96, 96, 100);
$blanco1: rgba(250, 250, 250, 100);
$blanco2: rgba(237, 237, 237, 100);
$verde: rgba(238, 255, 158, 100);
$azul: rgba(123, 158, 168, 100);
$gris: rgba(89, 89, 89, 100);

$blanco95: rgba(237, 237, 237, 0.95);
$blanco85: rgba(237, 237, 237, 0.85);
$rojo75: rgba(242, 96, 96, 0.75);
$blanco75: rgba(237, 237, 237, 0.75);
$verde75: rgba(238, 255, 158, 0.75);
$azul75: rgba(123, 158, 168, 0.75);
$gris75: rgba(89, 89, 89, 0.75);


$rojo50: rgba(242, 96, 96, 0.50);
$blanco50: rgba(237, 237, 237, 0.50);
$verde50: rgba(238, 255, 158, 0.50);
$azul50: rgba(123, 158, 168, 0.50);
$gris50: rgba(89, 89, 89, 0.50);


$rojo25: rgba(242, 96, 96, 0.25);
$blanco25: rgba(237, 237, 237, 0.25);
$verde25: rgba(238, 255, 158, 0.25);
$azul25: rgba(123, 158, 168, 0.25);
$gris25: rgba(89, 89, 89, 0.25);
