@import '../styles/utils/colors';

.show{
  display: block;
}

.hidden{
  display: none;
}

.MiCombo{
  background-color: $blanco1;
  color: $gris;
  margin: 25px auto;
  position: relative;
  .optionsCombo{
    position: absolute;
    width: 100%;
    background-color: $blanco95;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
    box-shadow: 0px 2px 2px 0px rgba(179,181,186,1);
    z-index: 10;

  }
  /* imtem GenericI*/
  ul{
    list-style: none;
    padding: 0px;
    width: 100%;
    li{
      width: 100%;
      padding: 0px 6px;
      .item{
        width: 100%;
        padding: 6px 2px;
        display: inline-block;
        .img{
          width: 20%;
          float:left;
          text-align: center;
          img{
            margin: 4px auto;
            border-width: 1px;
            border-style: solid;
            border-color: $gris25;
            border-radius: 100%;
            background-color: $blanco1;
          }
        }
        .info{
          margin: auto 2px;
          padding: 6px 2px;
          width: 100%;
          height: 100%;
          .title{
            color: $gris;
            font-weight: bold;
          }
          .subtitle{
            color: $gris75;
            display: inline-block;
            font-size: 0.8em;
            vertical-align: middle;
          }
        }
      }
    };
    li:hover{
      background: $azul50;
    }
    li.selected{
      width: 100%;
      background: $azul75;
    }
  }
}
